a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-studio {
    color: #2e2f42;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
}

.contact-block {
    font-style: normal;
}

.menu-link:hover, 
.menu-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
    color: #404bbf;
}

.hero-section {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #f4f4fd;
} 

.team-list-item {
    background-color: #ffffff;
}
.section-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-member-name, 
.portfo-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-name {
    text-align: center;
}

.team-member-text,
.portfo-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-member-text {
    text-align: center;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-studio,
.footer-text {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}